<header style="background-color: #f85f56;">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='images/baru.png') }}" width="140" height="60" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <span class="navbar-brand mb-0 h1 m-auto">
              <a class="nav-link text-white" href="/">MKSA Quality Checker</a>
            </span>
          </li>
          <li class="nav-item">
            <span class="navbar-brand mb-0 h1 m-auto">
              <a class="nav-link text-white" href="/scores">Score</a>
            </span>
          </li>
        </ul>
      </div>
    </nav>
  </header>